body.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  display: block;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background: rgba(65, 65, 83 ,0.9);
}
.modal-content {
  position: relative;
  width: 90%;
  max-width: 600px;
  margin: 60px auto 0;
  padding: 20px 16px 20px;
  background: black;
  border-radius: 4px;
  border-color: yellow;
}

.scene-modal .close {
  cursor: pointer;
  color: yellow;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: black;
  border: none;
  font-size: 16px;
}

.scene-modal .nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.scene-modal .progress {
  text-align: center;
  width: 100px;
  margin: 0 10px;
}

.scene-modal .prev,
.scene-modal .next,
.scene-modal .nav-placeholder {
  text-align: center;
  width: 75px;
}

.scene-modal .prev,
.scene-modal .next {
  cursor: pointer;
  background-color: black;
  color: yellow;
  font-size: 16px;
}

.scene-modal .date {
  color: white;
  margin: 5px 0;
  font-size: 16px;
}

.scene-modal .episode {
  color: gray;
  margin: 5px 0;
  font-size: 16px;
}

.scene-modal .description {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 50px;
}

.scene-modal .images {
  width: 100%;
  max-height: 450px;
  overflow-x: hidden;
  overflow-y: auto;
}

.scene-modal img {
  width: 100%;
  border: 1px white solid;
  box-sizing: border-box;
  margin-bottom: 20px;
}
