.scene {
  width: 150px;
  height: 300px;
  text-align: left;
  border: 1px white solid;
  margin: 5px;
  padding: 5px;
}

.scene .date {
  color: gray;
  margin: 10px 0;
}

.scene .description {
  height: 125px;
}

.scene .episode {
  color: white;
  margin: 10px 0;
}
