.display-order-toggle {
  margin: auto;
  height: 50px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.display-order-toggle label {
  margin-left: 20px;
}
