.scenes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (min-width: 480px) {
  .scenes {
    justify-content: flex-start;
  }
}
