.app {
  text-align: left;
  width: 1000px;
  margin: auto;
  margin-top: 50px;
}

.app .title-card {
  width: 490px;
  display: block;
  margin: auto;
}

.app .intro {
  margin-bottom: 50px;
}

.app .intro p {
  color: white;
}

.app .intro p > a {
  color: yellow;
}

.app .coming-soon {
  background-color: yellow;
  text-align: center;
  height: 50px;
  line-height: 50px;
  color: black;
  font-weight: 700;
  margin-top: 75px;
}
