.app {
  text-align: left;
  width: 980px;
  margin: auto;
  margin-top: 50px;
}

.app .title-card {
  width: 490px;
  display: block;
  margin: auto;
}

.app .intro {
  margin-bottom: 50px;
}

.app .intro p {
  color: white;
}

.app .intro p > a {
  color: yellow;
}
